<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/views/admin/layout.html}">

<body th:fragment="header">
	<div>
		<div class="container -fluid bg-dark text-white p-3" style="display: flex; justify-content: space-around; align-items: center">
			<img alt="AnhPMT"
				style="width: 200px; height: 150px; object-fit: cover;"
				src="https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/429662751_122112521852223079_5141391462210572166_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=PtuopHFJzMQQ7kNvgFnxNNT&_nc_zt=23&_nc_ht=scontent.fsgn2-9.fna&_nc_gid=AYZ3lTYU7Gzwl6zZJEtrPaL&oh=00_AYDZ1RrPSaO4wgSum_P32dpoqNALbQJfgPtG8-6LlnGNbA&oe=6726E6A0">
			<h1>Header</h1>
		</div>
	</div>

</body>